.rotate {
    margin: auto;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    background-color: rgb(80, 255, 246);
    color: black;
  }
  .circle{
    text-align: center;
    width: 500px;
    height: 500px;
    position: relative;
  }
.rotate:hover{
    background-color: yellow;
}  
  @keyframes mymove {
    100% {transform: rotate(360deg);}
}