body{
    background-color: #fcf0f0;
}

.main{
    margin: 20px;
    border: 1px solid rgb(190, 185, 185);
    border-radius: 20px;
    padding: 25px;
    background-color: white;
    width: 75%;
}

.inside{
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
}
.inside_1{
    display: flex;
}
.inside_2{
    display: flex;
}
.mainservice, .mainservice2{
    margin: 40px 0px;
}

.pur_services, .add_services{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(175, 166, 166);
    overflow: auto;
    border-radius: 10px;
    justify-content: space-between;
    /* padding: 20px; */
}
.p2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
}
.p2-1{
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
}
.p2-2{
    display: flex;

}
.imgs{
    border-radius: 25%;
    float: left;
    padding: 20px;
}
.calculation_all{
    background-color: black;
    color: white;
    border-radius: 10px;
}